extends layout 

block content 
  form(method="post" class="form")
    label(for="url") Enter URL(s) #[span.light (you can enter multiple by comma-separating them)]
    input(type="text" name="url" id="url" placeholder="https://dev.to, https://github.com" required value=urls)
    h5 Set expiry date for the shortened link 
    input(type="radio" name="expiryDate" id="perm" value="permanent" required)
    label(for="perm").expiry-label.expiry-label--perm Permanent
    input(type="radio" name="expiryDate" id="custom" required)
    label(for="custom").expiry-label.expiry-label--custom Custom
    .custom-expiry-date
      label(for="datetime" hidden) Select custom expiry date 
      input(type="text" placeholder="Select date and time 📅" id="datetime" required disabled)
    input(type="submit" value="Shorten URL →")

block scripts 
  script(src="dist/index.js") 
