extends layout 

block content
  h1 List of the links
  if urlIds && urlIds.length 
    table 
      tr 
        th Original link
        th Shortened
      each url in urlIds
        tr
          td= url.url
          td= `http://localhost:4000/${url.urlId}`

