extends layout 

include mixins/_short-links-table

block content
  h3.title List of the shortened link
  p ⚠️ #[span.warning Note : ] This page will only be available for 24 hours (links expire as configured)
  if urlIds && urlIds.length 
    +table(urlIds)   
  else 
    h4 Oops! Seems like the links expired already!

