mixin table(urlIds)
  .table-container
    table.links-table
      thead 
        tr 
          th Original link
          th Shortened
      tbody 
        each url in urlIds
          tr
            td= url.url
            td: a(href=url.urlId target="_blank" rel="noreferrer")= url.urlId  
